$red: #FC625D;
$yellow: #FDBF41;
$green: #35CC4B;
$blue: #51BAF2;
$purple: #D08CE0;

$white: #FFFFFF;
$light-gray: #CCCCCC;
$very-light-gray: #F5F5F5;
$gray: #353535;
$dark-gray: #191919;
$black: #000000;

$instagram-blue: #125688;
$twitter-blue: #55ACEE;
$facebook-blue: #3B5998;
$youtube-red: #BB0000;

$shadow-light: rgba(0, 0, 0, 0.12);
$shadow-dark: rgba(0, 0, 0, 0.24);
$transparent: rgba(0, 0, 0, 0);
