$gray: #222222;
$black: #000000;
$white: #FFFFFF;
$instagram-blue: #125688;
$twitter-blue: #55ACEE;
$facebook-blue: #3B5998;
$youtube-red: #BB0000;
$shadow-light: rgba(0, 0, 0, 0.12);
$shadow-dark: rgba(0, 0, 0, 0.24);
$transparent: rgba(0, 0, 0, 0);
