header {
  background-color: $yellow;
  color: $black;

  p {
    margin: 0.5rem 0;
  }
}

.buttons {
  margin-right: -1rem;
  display: flex;
  padding: 1rem 0;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    color: $white;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 45%;
    border-radius: 2px;
    transition: 0.2s linear background-color;
    background-color: $white;
    transition: 0.3s ease all;

    &:hover {
      background-color: #f5f5f5;
    }

    a {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      padding: 0.5rem 0.75rem;
    }

    i, span {
      line-height: 1;
      vertical-align: top;
    }

    i {
      margin-right: 0.25rem;
      font-size: 1rem
    }

    span {
      font-size: 0.75rem;
    }

    &.instagram {
      background-color: $instagram-blue;
      border-bottom: 2px solid darken($instagram-blue, 10%);

      &:hover {
        background-color: darken($instagram-blue, 5%);
      }
    }

    &.facebook {
      background-color: $facebook-blue;
      border-bottom: 2px solid darken($facebook-blue, 10%);

      &:hover {
        background-color: darken($facebook-blue, 5%);
      }
    }

    &.twitter {
      background-color: $twitter-blue;
      border-bottom: 2px solid darken($twitter-blue, 10%);

      &:hover {
        background-color: darken($twitter-blue, 5%);
      }
    }

    &.youtube {
      background-color: $youtube-red;
      border-bottom: 2px solid darken($youtube-red, 10%);

      &:hover {
        background-color: darken($youtube-red, 5%);
      }
    }
  }
}

.videos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;
  margin-bottom: -4rem;

  .video {
    padding: 0 2rem 4rem;
    width: 50%;
  }
}

.video.horizontal {
  display: flex;
  margin: 0 -2rem;

  .video-preview, .text {
    padding: 0 2rem;
    width: 50%;
  }
}

.video-preview {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;

  img, &.video-placeholder {
    border-radius: 4px;
    box-shadow: 0 1px 3px $shadow-light, 0 1px 2px $shadow-dark;
    width: 100%;
  }

  .play-icon {
    left: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;

    &::after {
      opacity: 0.75;
      background-color: $yellow;
      content: ' ';
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transition: 0.3s ease opacity;
    }

    svg {
      height: 1.75rem;
      width: 1.75rem;
      z-index: 2;
      transition: 0.3s ease transform;
      transform: scale(0.8);
      margin-right: -0.2rem;

      g, path {
        fill: $gray;
      }
    }
  }

  &:hover .play-icon {
    &::after {
      opacity: 1;
    }

    svg {
      transform: none;
    }
  }

  &.video-placeholder {
    position: relative;

    .play-icon:after {
      background-color: $gray;
    }

    .play-icon svg path {
      fill: $white;
    }
  }
}

.video-placeholder {
  background-color: $light-gray;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%
}

footer {
  background-color: $gray;

  .buttons li {
    border: none;
    color: $white;
    width: 20%;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .videos .video {
    width: 100%;
  }

  .video.horizontal {
    flex-direction: column;

    .video-preview, .text {
      width: 100%;
    }
  }

  .buttons {
    li {
      width: 100%;
      margin-right: 0;

      span {
        font-size: 0.85rem;
      }

      i {
        margin-right: 0.75rem;
      }
    }
  }
}
