<svg width="16" height="16" viewBox="0 -2 20 20" xmlns="http://www.w3.org/2000/svg"><title>icon-x copy</title><g stroke="#FFF" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1 0l8.485 8.485M1 8.485L9.485 0"/></g></svg>
